@import './base.scss';
.custom__button {
	display: flex;
	width: 32rem;
	padding: 1.6rem 1rem;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
	border-radius: 1rem;
	background: var(--richard-gradient, linear-gradient(136deg, #61c1c0 0%, #358184 100%));
	font-family: var(--font-base);
	color: #fff;
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
	border: none;
}
.learn--link {
	color: var(--color-secondary-green);
	padding: 1.2rem 2.4rem;
	border-radius: 1rem;
	border: 1px solid #e6e6e6;
	background: #fff;
	font-size: 2rem;
}
