@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
:root {
	--font-base: 'Montserrat', sans-serif;
	--color-primary: #007382;
	--color-primary-pink: #ff736e;
	--color-secondary: #4b96dc;
	--color-secondary-green: #4db1b1;
	--color-grey: #858597;
	--Richard-Gradient: linear-gradient(102deg, #61c1c0 -0.69%, #358184 100%);
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: var(--font-base);
	font-weight: 400;
	font-size: 1.6rem;
	color: #000;
	background-color: #f7f7f7;
}
html {
	font-size: 62.5%; //1rem = 10px
	@media only screen and (max-width: 1200px) {
		font-size: 50%;
	}
	@media only screen and (max-width: 900px) {
		font-size: 40%;
	}
	@media only screen and (max-height: 700px) {
		font-size: 50%;
	}
	@media only screen and (max-height: 600px) {
		font-size: 40%;
	}
}
a {
	text-decoration: none;
	&:link {
		color: #000;
	}
	&:visited {
		color: #000;
	}
}
button {
	cursor: pointer;
	font-family: var(--font-base);
}

.custom__button {
	display: flex;
	width: 32rem;
	padding: 1.6rem 1rem;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
	border-radius: 1rem;
	background: var(--richard-gradient, linear-gradient(136deg, #61c1c0 0%, #358184 100%));
	font-family: var(--font-base);
	color: #fff;
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
	border: none;
}
.learn__button {
	cursor: pointer;
	display: flex;
	padding: 1.2rem 2.4rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	color: var(--color-secondary-green);
	font-family: var(--font-base);
	font-size: 2rem;
	font-weight: 400;

	border-radius: 1rem;
	border: 1px solid #e6e6e6;
	background: #fff;
	&--active {
		border: none;
		color: #fff;
		border-radius: 1rem;
		background: var(--Richard-Gradient, linear-gradient(102deg, #61c1c0 -0.69%, #358184 100%));
	}
	&--dark {
		color: #fff;
		background-color: #000;
		&--active {
			border: 1px solid var(--color-primary-pink);
			background-color: #000;
		}
	}
}
.learn--link {
	color: var(--color-secondary-green);
	padding: 1.2rem 2.4rem;
	border-radius: 1rem;
	border: 1px solid #e6e6e6;
	background: #fff;
	font-size: 2rem;
}
::selection {
	background-color: var(--color-primary);
	color: white;
}

.courses__card {
	max-height: 45rem;
	transition: all 0.6s;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: max-content;
	align-content: space-between;
	width: 100%;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
	gap: 1rem;
	color: var(--color-secondary-green);
	cursor: pointer;
	&-banner {
		border-radius: 1.5rem;
		box-shadow: 0px 0px 5px 0px rgba(53, 129, 132, 0.25);
		object-fit: cover;
		width: 100%;
		height: 16.5rem;
	}
	&-title {
		color: var(--color-primary);

		font-size: 1.4rem;
		font-weight: 600;
	}
	&-text {
		color: var(--color-secondary-green);

		font-size: 1.2rem;
		font-weight: 400;
	}
	& h6 {
		color: #61c1c0;
		font-size: 1rem;
		font-weight: 500;
		line-height: 150%; /* 1.5rem */
	}
	& button {
		width: 100%;
		padding: 1rem;
		font-size: 1rem;
		& img {
			width: 2rem;
			height: 2rem;
		}
	}
}
.course__title {
	transition: all 0.8s;
	color: var(--brand-solid-primary-green, #007382);
	font-weight: 600;
	font-size: 2rem;
}
.course__text {
	transition: all 0.8s 0.6s;
	color: var(--brand-solid-secondary-green, #4db1b1);
	font-weight: 400;
	font-size: 1.6rem;
	& a {
		color: var(--color-primary-pink);
	}
}
.course__info--length {
	&__outer {
		justify-self: stretch;
		grid-column: 2 / span 1;
		position: relative;
		height: 0.6rem;
		border: 1px solid #61c1c0;
		background-color: #effffe;
		border-radius: 1rem;
	}
	&__inner {
		position: absolute;
		height: 100%;
		border: 1px solid #61c1c0;
		background-color: #61c1c0;
		border-radius: 1rem;
	}
}
.info {
	display: grid;
	grid-template-columns: repeat(2, max-content) 1fr;
	gap: 0.52rem;
	align-items: center;
	color: #61c1c0;
	font-size: 1.2rem;
	font-weight: 500;
	& span {
		font-size: 1rem;
		font-weight: 500;
	}
	& p {
		justify-self: flex-end;
		font-weight: 700;
	}
	&__bar {
		margin-top: 1rem;
		width: 100%;
		height: 0.7rem;
		border-radius: 0.5rem;
		border: 1px solid #61c1c0;
		background: #effffe;
		&::before {
			content: '';
			display: block;
			width: 60%;
			height: 100%;
			border-radius: 0.5rem;
			background-color: #61c1c0;
		}
	}
}
.learn__container {
	padding: 1rem;
	display: grid;
	height: calc(100vh - 18rem);
	grid-template-columns: repeat(3, 31%);
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	gap: 2rem;
}
.courses__nav {
	display: flex;
	margin-left: 1rem;
	margin-bottom: 1rem;
	gap: 2rem;
}
.courses__empty {
	width: 100%;
	margin-left: 1rem;
	color: #000;
	font-size: 2.2rem;
	font-weight: 500;
}
.popup {
	z-index: 2001;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	display: flex;
	width: 32rem;
	height: 18rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.6rem;
	border-radius: 1.6rem;
	background: var(--Richard-Gradient, linear-gradient(102deg, #61c1c0 -0.69%, #358184 100%));
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	&__button {
		border: none;
		cursor: pointer;
		display: flex;
		width: 20rem;
		padding: 1rem;
		justify-content: center;
		align-items: center;
		gap: 0.8rem;
		border-radius: 1rem;
		background: #fff;

		color: #4db1b1;
		font-family: var(--font-base);
		font-size: 1.2rem;
		font-weight: 600;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.6rem;
	}
	& p {
		color: #fff;
		text-align: center;
		font-size: 2rem;
		font-weight: 600;
	}
	& h1 {
		color: #fff;
		font-size: 3.2rem;
		font-weight: 600;

		display: flex;
		align-items: center;
		gap: 8px;
	}
}
.overlay {
	z-index: 2000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}
